<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372942855573-fdtgscvasldk612iqs7f112v6cuicdvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372942855573-fdtgscvasldk612iqs7f112v6cuicdvi</string>
	<key>API_KEY</key>
	<string>AIzaSyCPVtmMT2iyAGOtd8QQ1rUy1UUYnvl6KQc</string>
	<key>GCM_SENDER_ID</key>
	<string>372942855573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreporto.FirebaseHero</string>
	<key>PROJECT_ID</key>
	<string>fir-hero-539d2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-hero-539d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372942855573:ios:0be19ed6b99e7b94a56a9c</string>
</dict>
</plist>