<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNdq4doewfNOGbDEwbaSmqMFEL-1rn-Zo</string>
	<key>GCM_SENDER_ID</key>
	<string>1074900321181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.andreporto.FirebaseHero</string>
	<key>PROJECT_ID</key>
	<string>fir-hero-b2983</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-hero-b2983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074900321181:ios:758514b9c010b26390e574</string>
</dict>
</plist>